@import "tailwindcss";

:root {
  --background: linear-gradient(135deg, #4caf50, #81c784);
  --foreground: #171717;
}

.Page{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.Topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4caf50;
  

}

.Logo{
  font-size: 1.25rem;
  font-weight: bold;
}

.Coming-soon {
  font-size: 1rem;
  font-weight: 500;
}